parameters:
    level: 7
    paths:
        - src
        - tests
    ignoreErrors:
            -
                message: '#Access to an undefined property object::#'
                paths:
                    - src/ConfigAdapter/JsonConfigAdapter.php
